implementation/D2Rmap/src/main/resources/Medspace_D2Rmap.xsd

<?xml version="1.0"?>

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.medspace.com/D2Rmap"
	xmlns:d2r="http://www.medspace.com/D2Rmap"
	elementFormDefault="qualified">
	
	<xsd:element name="Map">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DBConnection" type="d2r:DBConnection" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="OutputFormat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Index" type="d2r:Index" minOccurs="0" maxOccurs="1"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="Namespace" type="d2r:Namespace" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="ClassMap" type="d2r:ClassMap" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="TranslationTable" type="d2r:TranslationTable" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="DBAuthentification">
		<xsd:attribute name="username" type="xsd:string" use="required"/>
		<xsd:attribute name="password" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="DBConnection">
		<xsd:sequence>
			<xsd:element name="DBAuthentification" type="d2r:DBAuthentification" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DataSourceProperty" type="d2r:DataSourceProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="jdbcDriver" type="xsd:string" use="required"/>
		<xsd:attribute name="jdbcDSN" type="xsd:string" use="required"/>
		<xsd:attribute name="maxConnections" type="xsd:integer" use="optional"/>
	</xsd:complexType>

	
	<xsd:complexType name="Namespace">
		<xsd:attribute name="prefix" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="ClassMap">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="DataTypePropertyBridge" type="d2r:DataTypePropertyBridge" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ObjectPropertyBridge" type="d2r:ObjectPropertyBridge" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="sql" type="xsd:string" use="required"/>
		<xsd:attribute name="resourceIdColumns" type="xsd:string" use="required"/>
		<xsd:attribute name="baseURI" type="xsd:string" use="required"/>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="DataTypePropertyBridge">
		<xsd:attribute name="property" type="xsd:string" use="required"/>
		<xsd:attribute name="pattern" type="xsd:string" use="required"/>
		<xsd:attribute name="translate" type="xsd:string" use="optional"/>
		<xsd:attribute name="dataType" type="xsd:string" use="optional"/>
		<xsd:attribute name="lang" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="ObjectPropertyBridge">
		<xsd:attribute name="property" type="xsd:string" use="required"/>
		<xsd:attribute name="pattern" type="xsd:string" use="optional"/>
		<xsd:attribute name="translate" type="xsd:string" use="optional"/>
		<xsd:attribute name="referredClass" type="xsd:string" use="optional"/>
		<xsd:attribute name="referredColumns" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="TranslationTable">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Translation" type="d2r:Translation" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="Translation">
		<xsd:attribute name="key" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="DataSourceProperty">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="Index">
		<xsd:attribute name="directory" type="xsd:string" use="required"/>
	</xsd:complexType>
	
</xsd:schema> 